<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flow.flowassignment.service.ExtensionMapper">
    <select id="ExOverLabCheck" resultType="int">
        SELECT count(ex_id) FROM extension WHERE 1=1 AND ex_name = LOWER(#{ex_name})
    </select>

    <insert id="ExtensionAdd">
        INSERT INTO extension(ex_name,ex_regdate,ex_sort) VALUES (LOWER(#{ex_name}),now(),UPPER(#{ex_sort}))
     </insert>

    <delete id="ExtensionDel">
        DELETE FROM extension WHERE ex_name = LOWER(#{ex_name})
    </delete>

    <select id="ExtensionList" resultType="EXTENSION">
        SELECT ex_name,ex_sort FROM extension WHERE 1=1 AND ex_sort = UPPER(#{ex_sort}) ORDER BY ex_regdate DESC
    </select>

    <select id="ExtensionCount" resultType="int">
        SELECT count(ex_id) FROM extension WHERE 1=1 AND ex_sort = UPPER(#{ex_sort})
    </select>
    <select id="findByUserId" resultType="USER">
        SELECT * FROM "user" WHERE 1=1 and user_id = #{user_id}
    </select>

</mapper>